.relativesYour__title {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 15px;

}

.relativesYour__title p {
    margin-top: 0;
}

.relativesName__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonsBlock {
    width: 100%;
}

.relativesName__button {
    border: none;
    border-radius: 10px;
    padding: 15px 0;
    width: 100%;
    max-width: 100px;
    margin-right: 27px;
    font-weight: bold;
    cursor: pointer;
}

.actionButton {
    background: linear-gradient(260.79deg, #0008ff -15.88%, #323a37 121.51%);
    color: white;
}

.relativesName__inputs {
    margin-top: 20px;
}

.relativesName__input {
    display: flex;
    flex-direction: column;
}

.relativesInput {
    padding: 10px;
    border: 1px solid #3264f5;
    font-size: 17px;
    margin-bottom: 12px;
    border-radius: 10px;
    margin-top: 5px;
}

.husband__wife{
    margin-bottom: 20px;
}

.relativesInput__button{
    display: flex;
    margin-top: 20px;
}