
.profileData {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;

}

.userData {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    flex-wrap: wrap;

}

.editButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editButton button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background: #3264f5;
    color: white;
    cursor: pointer;
}

.userDataList {
    width: 45%;
    background: #F4F7F8;
    border-radius: 10px;
    padding: 15px 30px;
    height: 100%;
    margin-bottom: 25px;
}

.profileData h2 {
    text-align: end;
    padding-right: 15px;
}

.userDataTabs {
    display: flex;
    flex-direction: column;
}

.userDataTabs label {
    color: #8797b6;
}

.userList input {
    background: transparent;
    font-size: 17px;
    margin-bottom: 12px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
}

.editUserData input {
    padding: 10px;
    border: 1px solid #3264f5;
}

.TabsInput::placeholder {
    color: red;
}

.userDataTabs input::placeholder {
    color: black;
    font-weight: 600;
}

.dataUser {
    margin: 0;
}

.userList p {
    color: #333333;
    font-weight: 600;

}

.emptyField {
    display: flex;
    align-items: center;
}

.emptyField h3 {
    color: red;
    margin-right: 10px;
}

.internationalOrganization__title {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 15px;

}

.internationalOrganization__title p {
    margin-top: 0;
}

.officialInput__button {
    display: flex;
    margin-top: 20px;
}

.saveButton {
    background: #3fcd3f;
    border-radius: 10px;
    border: none;
    width: 100%;
    padding: 10px 0;
    color: white;
    cursor: pointer;
}

.backButton {
    background: red;
    border-radius: 10px;
    border: none;
    width: 100%;
    max-width: 150px;
    padding: 10px 0;
    color: white;
    margin-left: 20px;
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    .userDataList {
        width: 43%;
    }
}

@media screen and (max-width: 970px) {
    .sectionSelection li {
        font-size: 16px;
    }

    .profileData h2 {
        font-size: 19px;
    }

    .userDataList {
        width: 41%;
    }
}

@media screen and (max-width: 850px) {
    .userData {
        display: block;
    }

    .userDataList {
        width: calc(100% - 60px);
        margin-bottom: 20px;
    }
}
