
.profileHeader {
    height: 100%;
    min-height: 170px;
    background: rgba(35, 53, 127, 1);
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.companyInformation {
    padding: 30px 15px 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.menuLink {
    display: flex;
}

.companyMenu li {
    list-style: none;

}

.companyMenu a {
    font-size: 14px;
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

.userInformation {
    width: 100%;
    max-width: 550px;
    height: 100%;
    min-height: 70px;
    background: #3264f5;
    border-radius: 20px;
    justify-content: space-between;
    padding: 0 15px;
}

.userInformation p {
    color: white;
    margin-left: 10px;
}

.companyMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;

}

.userFlex {
    display: flex;
    align-items: center;
}

.menuLinkMedia {
    display: none;
    background: #3264f5;
    border: none;
    padding: 10px;
    font-size: 17px;
    color: white;
    border-radius: 10px;
    margin-left: 40px;

}

.sectionSelection {
    border-bottom: 1px solid #23357f;
    margin-top: 40px;
    padding: 15px 25px;
}


.sectionSelectionMenu {
    display: flex;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.sectionSelectionMenu li {
    list-style: none;
    margin-right: 30px;
    font-size: 19px;
    font-family: cursive;
    cursor: pointer;
}

.sectionSelection li:last-child {
    margin-right: 5px;
}

.actionSelection {
    position: relative;
}


.actionSelection::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    background: #3264f5;
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 6px;
}

.actionSelectionError {
    position: absolute;
}

@media screen and (max-width: 1678px) {
    .companyInformation {
        justify-content: start;
    }

    .companyMenu {
        width: 100%;
    }
}

@media screen and (max-width: 1344px) {
    .userInformation {
        display: block;
        max-width: 350px;

    }
}

@media screen and (max-width: 1150px) {
    .menuLink {
        display: none;
    }

    .menuLinkMedia {
        display: block;
    }

    .userInformation {
        display: flex;
        max-width: 550px;

    }

    .profileHeader {
        min-height: 140px;
    }
}

@media screen and (max-width: 930px) {
    .companyInformation {
        padding-bottom: 30px;
    }

    .userInformation {
        display: block;
        max-width: 350px;
        margin-left: 20px;

    }
}

@media screen and (max-width: 730px) {
    .userInformation p {
        margin-bottom: 0;
        font-size: 13px;

    }

    .userFlex {
        align-items: end;
    }

    .userInformation {
        max-width: 250px;
    }

    .menuLinkMedia {
        font-size: 13px;
    }
}

@media screen and (max-width: 608px) {
    .userInformation {
        display: none;
    }

    .sectionSelectionMenu {
        padding-left: 0;
    }

    .sectionSelection li {
        font-size: 12px !important;
    }

    .sectionSelection {
        padding-right: 0;
    }
}

@media screen and (max-width: 435px) {
    .sectionSelectionMenu {
        display: block;
    }

    .sectionSelection li {
        font-size: 18px !important;
        margin-bottom: 10px;
    }

    .actionSelection::after {
        display: none;
    }

    .actionSelection {
        color: #3264f5;
    }
}