
.registerName h1 {
    margin-bottom: 50px;
    text-align: center;
}

.registerName input {
    width: 100%;
    max-width: calc(100% - 10px);
    padding: 15px 0 15px 10px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    box-shadow: -2px 0px 0px 0px #3264f5;
}

.registerName input:focus-visible {
    outline: none;
}

.registerPhone {
    margin-top: 30px;
}

.registerPhoneTop {
    margin: 10px 0;
}

.registerFace {
    display: flex;
    justify-content: space-evenly;
}

.registerFace .chooseBtn {
    width: 100%;
    max-width: 150px;
    padding: 20px 0;
}

.registerPhone button:disabled {
    background: rgba(239, 239, 239, 0.3);
    border-color: rgba(239, 239, 239, 0.3);
    color: #b6b7b9;
}

.registerPhone .confirmPassword {
    margin-top: 20px;
}

.registerPhone .password {
    margin: 20px 0;
}

.registerPhone .signButtonLink {
    color: black;
}

@media screen and (max-width: 1600px) {
    .registerFace .chooseBtn {
        max-width: 110px;
    }

}

@media screen and (max-width: 1290px) {
    .registerFace .chooseBtn {
        max-width: 95px;
        padding: 10px 0;
    }
}

@media screen and (max-width: 1200px) {
    .registerFace .chooseBtn {
        max-width: 120px;
        padding: 15px 0;
    }
}

@media screen and (max-width: 500px) {
    .registerFace {
        flex-direction: column;
    }

    .registerFace .chooseBtn {
        max-width: 100%;
    }

    .choosePhysicalPerson {
        margin: 20px 0;
    }

    .registerFace .chooseInvestor {
        margin-bottom: 0;
    }

    .registerName h1 {
        font-size: 25px;
    }

}