
.App{
    height: 100%;
    max-height: 1329px;
    min-height: 1329px;
}

.logo{
    padding-left: 100px;
    border-bottom: 2px solid rgba(88,88,88,.12);
}

.imgLogo{
    width: 100%;
    max-width: 135px;
}

.imgLogoInvest{
    width: 100%;
    max-width: 370px;
    margin-bottom: 27px;
}