
.signIn h1 {
    margin-bottom: 50px;
    text-align: center;
}

.signIn input {
    width: 100%;
    max-width: calc(100% - 10px);
    padding: 15px 0 15px 10px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    box-shadow: -2px 0px 0px 0px #3264f5;
}

.signIn input:focus-visible {
    outline: none;
}

.signIn .email {
    margin-bottom: 20px;
}

.signIn .password {

    margin-bottom: 20px;
}

.inputEmail {
    margin-top: 10px;
}



.inputPassword {
    margin-top: 10px;
}


.signButton a{
    color: #fff;
    background: #3264f5;
    border-radius: 5px;
    border: 1px solid #3264f5;
    width: 100%;
    padding: 15px;
    font-size: 17px;
    text-decoration: none;
}

.errorBlock{
    color:red;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: underline;
}

